{% extends 'base.html.twig' %}

{% block body %}
    <h1>News</h1>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ news.title }}</td>
            </tr>
            <tr>
                <th>Article</th>
                <td>{{ news.article }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ news.category }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if news.date %}{{ news.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a style="color:black;" href="{{ path('admin_News_index') }}">Back To List </a>
        </li>
        <li>
            <a href="{{ path('admin_News_edit', { 'id': news.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
